.select {
    box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    background-color: #ded6df;
    position: absolute;
    left: 0;
}
.menu {
    background-color: #917797;
    box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    height: 70px;
    display: inline-block;
    justify-content: start;
    padding: 0 40px;
    position: center;
}

.menu__list {
    padding: 0;
    height: 100%;
    margin: 0 40px 0 0;
}

.menu__list-item {
    display: inline;
    margin-right: 20px;
}

.menu__list-item:last-child {
    margin-right: 0;
}
.menu__link {
    color: #3a3e47;
    font-size: 16px;
    text-decoration: black;
    text-transform: uppercase;
    align-items: start;
    padding: 0 3px;
}

.menu__link:hover {
    color: white;
}

.menu__link:active {
    color: white;
    border-bottom: 1px solid white;
}
/*contact page css*/
.avatar-img {
    align-items: center;
    height: 250px;
    border-radius: 50%;
    text-align: center;
    display: block;
    justify-content: center;
    margin: auto;
}
